Checks: 'modernize-*,-modernize-use-trailing-return-type,performance-*,-performance-avoid-endl,readability-*,-readability-magic-numbers,-readability-identifier-length,-readability-math-missing-parentheses,bugprone-*,cppcoreguidelines-narrowing-conversions'
WarningsAsErrors: false
HeaderFilterRegex: 'src/.*'
